@use "./typography";

@mixin primary-button($color) {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    background-color: $color;
    color: black;
    border-radius: 15px;
    padding: 5px 10px;
    border-style: none;
    cursor: pointer;
    &:hover {
        background-color: darken($color, 15%);
    }
}

@mixin primary-font($primary-font) {
    font-family: $primary-font;
    font-size: larger;
}

@mixin title($title) {
    font-family: $title;
    font-size: larger;
    font-weight: 200;
}

@mixin header($header1) {
    font-family: $header1;
    font-size: 48px;
    font-weight: 100;
}