@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Marck+Script&display=swap');

$title: 'Montserrat', sans-serif;
$prim-font:'Dosis', sans-serif;
$header1: 'Marck Script', cursive;

