@use "./vendor/normalize";
@use "./partials/colors";

$primary-color: #f93f3f;
$font-color: #414141;

h1 {
    color: colors.$primary-color;
}

nav {
    background-color: bisque;
    a {
        color: colors.$primary-color;
    }
    ul {
        li {
            list-style: none;
            a {
                color: rgb(21, 111, 189);
            }
        }
    }
}