@use "./vendor/normalize";
@use "./partials/colors";
@use "./partials/mixins";
@use "./partials/typography";

body {
    font-family: typography.$primary-font;
}

$primary-color: #f93f3f;
$font-color: #414141;

h1 {
    color: colors.$primary-color;
}

.primary {  
    @include mixins.primary-button(aliceblue);
}

.secondary {
    @include mixins.primary-button(red);
}

nav {
    background-color: bisque;
    a {
        color: colors.$primary-color;
    }
    ul {
        li {
            list-style: none;
            a {
                color: rgb(21, 111, 189);
            }
        }
    }
}

.buttons {
    margin-top: 20px;
}