@use "./vendor/normalize";
@use "./partials/colors";
@use "./partials/mixins";
@use "./partials/typography";

title {
    font-family: typography.$title;
}

$primary-color: #f93f3f;
$font-color: #414141;

h1 {
    color: colors.$primary-color;
}

.primary {  
    @include mixins.primary-button(aliceblue);
}

.secondary {
    @include mixins.primary-button(rgb(139, 83, 83));
}

nav {
    background-color: bisque;
    a {
        color: colors.$primary-color;
    }
    ul {
        li {
            list-style: none;
            a {
                color: rgb(21, 111, 189);
            }
        }
    }
}

.buttons {
    margin-top: 20px;
}

@media (min-width: 768px) {

    h1{
        color: green;
        font-size: 3rem;
    }
    .container {
        background-color: yellow;
    }
}

@media (min-width: 1024px) {
    .container {
        background-color: white;
    }
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;




    margin: 10px;
    border: 1px dotted;
    height: 90vh;
}

.green, .red, .blue {
    height: 50px;
    border: 2px solid;
}

.green {
    background-color: greenyellow;
}

.red {
    background-color: #f93f3f;
    flex-grow: 1.25;
}

.blue{
    background-color: navy;
}